h1 {
  font-family: "Playfair Display", serif;
  font-size: 128px;
  font-weight: 700;
  line-height: 170.62px;
  text-align: center;
}

h2 {
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 400;
  line-height: 46.88px;
  text-align: center;
}
